<figure>
  <picture>
    <source media="(min-width: 1280px)" srcset="{{ glide:image preset='visual-2xl-webp' }}" type="image/webp">
    <source media="(min-width: 1024px)" srcset="{{ glide:image preset='visual-lg-webp' }}" type="image/webp">
    <source media="(min-width: 768px)" srcset="{{ glide:image preset='visual-md-webp' }}" type="image/webp">
    <source srcset="{{ glide:image preset='visual-sm-webp' }}" type="image/webp">
    <source media="(min-width: 1280px)" srcset="{{ glide:image preset='visual-2xl' }}" type="image/jpeg">
    <source media="(min-width: 1024px)" srcset="{{ glide:image preset='visual-lg' }}" type="image/jpeg">
    <source media="(min-width: 768px)" srcset="{{ glide:image preset='visual-md' }}" type="image/jpeg">
    <img 
      src="{{ glide:image preset='visual-sm' }}" 
      alt="{{ image:alt }}" 
      title="{{ image:alt }}" 
      height="{{ image:height }}" 
      width="{{ image:width }}"
      class="block w-full object-cover aspect-[16/8] md:aspect-[16/7] xl:aspect-[16/6] {{ imageClass ?? '' }}"
      loading="lazy">
  </picture>
</figure>