{{ if index % 2 == 0 }}
<div class="flex flex-col md:grid md:grid-cols-12 md:gap-20 xl:gap-30 md:mb-30 xl:mb-40 last-of-type:mb-0">
  <div class="order-2 md:order-1 md:col-span-6 lg:flex lg:justify-end bg-tangerine wide:bg-white">
    <div class="bg-tangerine text-white p-20 lg:p-30 xl:p-40 wide:!ml-[calc(100%_-_504px)] wide:max-w-[500px]">
      <h2 class="hyphens-auto">{{ title }}</h2>
      <div class="hyphens-auto">{{ text }}</div>
    </div>
  </div>
  <figure class="order-1 md:order-2 md:col-span-6">
    {{ partial:media/card_image :image="image" }}
  </figure>
</div>
{{ else }}
<div class="flex flex-col md:grid md:grid-cols-12 md:gap-20 xl:gap-30 md:mb-30 xl:mb-40 last-of-type:mb-0">
  <figure class="order-1 md:col-span-6">
    {{ partial:media/card_image :image="image" }}
  </figure>
  <div class="order-2 md:col-span-6">
    <div class="bg-white text-black hyphens-auto p-20 lg:p-30 xl:p-40 md:!pl-0 wide:max-w-[500px]">
      <h2 class="hyphens-auto">{{ title }}</h2>
      <div class="hyphens-auto">{{ text }}</div>
    </div>
  </div>
</div>
{{ /if }}