@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import "typo/webfonts.css";
@import "components/headings.css";
@import "components/forms.css";
@import "components/shortcut.css";
@import "components/collapsible.css";
@import "utils.css";

* {
  font-variant-ligatures: none;
}

html {
  font-feature-settings: 'kern'; 
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

b, strong {
  @apply font-syntaxblack
}

main p:not(:last-of-type) {
  @apply mb-20 lg:mb-30
}

main .content a {
  @apply hover:text-tangerine transition-colors !no-underline
}

main .content p + ul {
  @apply mt-20 lg:mt-30
}

main .content ul {
  @apply mb-20
}

main .content li:not(.theme-box-tangerine li),
main .content li:not(.theme-box-white li) {
  @apply list-image-tangerine list-item list-outside py-2 pl-6 mb-3 ml-18 leading-[1.4]
}

.collapsible ul {
  @apply mb-20
}

.collapsible li {
  @apply list-item list-outside py-2 mb-3 ml-14 leading-[1.4]
}

main .content li p,
.collapsible li p,
.theme-box-tangerine li p,
.theme-box-white li p {
  @apply inline
}

.theme-box-tangerine li {
  @apply !list-image-white
}

.collapsible li,
.theme-box-white li {
  @apply !list-image-tangerine
}

.marker {
  @apply bg-marker;
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
  height: 50px;
  width: 40px;
}